USE [master]
GO
/****** Object:  Database [quakdb]    Script Date: 06.04.2016 23:58:21 ******/
CREATE DATABASE [quakdb]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [quakdb].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [quakdb]
GO
/****** Object:  Table [dbo].[Classifiers]    Script Date: 06.04.2016 23:58:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classifiers](
	[id_classifier] [int] NOT NULL,
	[number] [nchar](10) NULL,
	[nameInEng] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_classifier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Emploees]    Script Date: 06.04.2016 23:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emploees](
	[id_emploee] [int] NOT NULL,
	[last_name] [nvarchar](50) NULL,
	[first_name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_emploee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Rpuds]    Script Date: 06.04.2016 23:58:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rpuds](
	[id_rpud] [int] IDENTITY(1,1) NOT NULL,
	[resourses] [nvarchar](50) NULL,
	[assessment] [nvarchar](50) NULL,
	[requirements] [nvarchar](50) NULL,
	[id_classifier] [int] NULL,
	[id_emploee] [int] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_rpuds] PRIMARY KEY CLUSTERED 
(
	[id_rpud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
ALTER TABLE [dbo].[Rpuds]  WITH NOCHECK ADD  CONSTRAINT [FK_rpuds_classifier] FOREIGN KEY([id_classifier])
REFERENCES [dbo].[Classifiers] ([id_classifier])
GO
ALTER TABLE [dbo].[Rpuds] CHECK CONSTRAINT [FK_rpuds_classifier]
GO
ALTER TABLE [dbo].[Rpuds]  WITH NOCHECK ADD  CONSTRAINT [FK_rpuds_emploee] FOREIGN KEY([id_emploee])
REFERENCES [dbo].[Emploees] ([id_emploee])
GO
ALTER TABLE [dbo].[Rpuds] CHECK CONSTRAINT [FK_rpuds_emploee]
GO
USE [master]
GO
