<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="rpudContext" connectionString="Server=quakdbserver.database.windows.net;Database=quakdb;User ID=quak;Password=12345Qq!;encrypt=true"
    providerName="System.Data.SqlClient"/>
    <add name="emploeeContext" connectionString="Server=quakdbserver.database.windows.net;Database=quakdb;User ID=quak;Password=12345Qq!;encrypt=true"
    providerName="System.Data.SqlClient"/>
    <add name="classifierContext" connectionString="Server=quakdbserver.database.windows.net;Database=quakdb;User ID=quak;Password=12345Qq!;encrypt=true"
    providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
